<ion-view view-title="Enroll Station">
<ion-content>

<br>
  <center>
<br>

<h4>Input your station name</h4></center>

      <form id="form" action="#/tab/friends">
              <label class="item item-input" >
                    <span class="input-label">Station Name</span>
                        <input id="userInput" type="text"></label><br>
           <center>

                                <button class="button button-positive" id="myBtn" ng-controller="AccountCtrl" ng-click="othername()" >Enroll Station</button></center>
      </form>
  </ion-content>
</ion-view>




